<%= render "layouts/errors", :object => @listing %>

<%= form_for [@type, @listing] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <%= f.label :address %>
  <%= f.text_field :address %><br>
  <%= f.label :phone %>
  <%= f.text_field :phone %><br>
  <%= f.label :web %>
  <%= f.text_field :web %><br>
  <%= f.label :hours %>
  <%= f.text_field :hours %><br>

  <select name="shmategory" id="category">

  <%= @types.each do |type| %>
  <option id="category" value="<%= type.id %>"><%= type.category %></option>
  <% end %>
</select>

  <button type="submit">update category</button>
  <p><%= f.submit %></p>

<% end %>
